<header class="sixteen columns">
  <h1><%= @person.first_name%> <%= @person.last_name%></h1>
  <h2>This is my cv</h2>
</header>

<div class="nav">
  <ul>
    <li><a href="#">Home</li></a>
  <li><a href="#">About</li></a>
<li><a href="#">Contact</li></a>
  </ul>
</div><!-- close nav -->

<div class="image">
<img src=href"http://www.placekitten.com/700/300">
</div> <!-- close image -->

<div class="about sixteen columns">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sollicitudin massa id dui molestie, dignissim dictum arcu vehicula. Donec dictum facilisis ullamcorper. Phasellus vulputate nisi et lacus luctus, ac bibendum mi euismod. Fusce pulvinar porttitor felis sit amet venenatis. 
  </p>
</div><!-- closed about -->

<div class="info">
<div class="contact nine columns">
  <h3>Contact</h3>
  <ul>
    <li><a href="#">
      <%= @person.email %></a>
    </li>
    <li><a href="#">
      <%= @person.phone_number %></a>
    </li>
    
  </ul>
  
  </div><!-- closed contact -->
  
  <div class="links seven columns">
    <h3>Links</h3>
    <%= link_to "All people", people_path %>
    <%= link_to "Edit Person", edit_person_path(@person) %>
  </div>
</div> <!-- closed info -->